# Development Override File
# Copy this to docker-compose.override.yml for local development
# This file is automatically loaded by docker-compose if it exists

version: '3.8'

services:
  web:
    environment:
      RAILS_ENV: development
    volumes:
      # Mount source code for hot reloading in development
      - .:/rails
      - bundle_cache:/usr/local/bundle
      - node_modules_cache:/rails/node_modules
    command: ./bin/rails server -b 0.0.0.0

  jobs:
    environment:
      RAILS_ENV: development
    volumes:
      - .:/rails
      - bundle_cache:/usr/local/bundle

  slack_socket_mode:
    environment:
      RAILS_ENV: development
    volumes:
      - .:/rails
      - bundle_cache:/usr/local/bundle

volumes:
  bundle_cache:
  node_modules_cache:
